#main {
   background-image: url("img/paw_light.png");
   width: 100%;
   position: relative;
   height: 100%;
   border-top: 10vh;
   padding: 0;
   margin: 0;
   z-index: 2;
}

#catalog {
   background-color: white;
   margin-top: 30vh;
   margin: 5vw;
   display: flex;
   /* flex-wrap: wrap; */
   overflow: auto;
   flex-direction: row;
}

.product {
   overflow: auto;
   /* flex: 1; */
   min-width: 250px;
}

.imgCat {
   max-width: 100%;
   height: auto;
}
