#menu {
   background-color: cadetblue;
   overflow: auto;
   position: absolute;
   left: 0;
   top: 16vh;

   padding: 1%;
   text-align: left;
   color: darkblue;
   font-style: fantasy;
   font-size: 2vw;
   margin: 0;
   position: absolute;
   width: 15%;
   min-width: 80px;
   max-width: 100px;
   z-index: 10000;
   visibility: hidden;
}

ul {
   list-style-type: none;
}
#menuIcon {
   position: absolute;
   left: 0;
   bottom: 0;
}
#closeMenu {
   position: absolute;
   left: 0;
   top: 0;
}

#header header ul li {
   list-style-type: none;
   padding: 8px 12px;
   position: absolute;
   display: none;
   opacity: 0;
   visibility: hidden;
   transition: opacity 0.2s;
}

.menuIcons {
   z-index: 100;
   size: 1vh;
   max-width: 20px;
   min-width: 10px;
}
